<div style="text-align:center">
  <div>
    <h1 class="titulo">
      Medicion De Sensores
    </h1>
  </div>

  <div class="tabla">
    <p-table [value]="mediciones" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of columnas">
            {{col.header}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-medicion>
        <tr>
          <td>{{ medicion.idMedicion }}</td>
          <td>{{ medicion.idSensor }}</td>
          <td>{{ medicion.ZonaInstalacionSensor }}</td>
          <td>{{ medicion.fechaSenso }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
</div>
